<!DOCTYPE html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>中国梦想游-会员登录页</title>
<link href="/static/css/style.css" rel="stylesheet" type="text/css" />
<link href="/static/css/common.css" rel="stylesheet" type="text/css" />
    <script src="/static/js/jquery-1.9.1.min.js"></script>
</head>
<body>
<body onload="checkCookie()"></body>
<div class="top_hw clearfix">
    <div class="top_h clearfix">
        <div class="top_hl"><span>欢迎来到中国梦想游，让你的梦想全程免费自由行！</span> 预定热线：<b>0571-63322269</b></div>

        <div class="top_hr">
            {% if request.session.user_name %}
                <a href="user/user_info">欢迎你！{{ request.session.user_name }}</a>|<a href="user/logout">注销</a>
            {% else %}
                 <a href="login">登录</a>  |  <a href="register">注册</a>
            {% endif %}
            |  <a href="#">梦想收藏</a>  |  <a href="#">设为首页</a></div>
    </div>
</div>
<div class="head_w">
    <div class="head_t clearfix">
        <div class="logo"><img src="/static/images/logo.jpg"></div>
        <div class="rx_line"><img src="/static/images/rx.jpg"></div>
    </div>
</div>
<div class="mainNav clearfix">
    <ul class="Nav_ul">
        <li><a href="/">首页</a><img src="/static/images/nav_line.jpg"></li>
        <li ><a  href="../旅游路线.html">旅游路线</a><img src="/static/images/nav_line.jpg"></li>
        <li><a href="../旅游景点.html">旅游景点</a><img src="/static/images/nav_line.jpg"></li>
        <li><a href="../餐饮住宿.html">餐饮住宿</a><img src="/static/images/nav_line.jpg"></li>
        <li><a href="../交通路线-详情1.html">交通线路</a><img src="/static/images/nav_line.jpg"></li>
        <li><a href="../旅游团购.html">旅游团购</a><img src="/static/images/nav_line.jpg"></li>
        <li><a href="../list_15_0_1">地方特产</a><img src="/static/images/nav_line.jpg"></li>
        <li><a href="../自动生成简介.html">自动生成简介</a><img src="/static/images/nav_line.jpg"></li>
        <li><a href="../团队简介-关于中国梦想游.html">团队简介</a><img src="/static/images/nav_line.jpg"></li>
        <li><a href="../行程导航-详情.html">行程导航</a></li>
    </ul>
</div>
<div class="b_wrap">
    <div class="current"><span>当前所在地：</span><a href="/">首页</a>  >> <a href="会员登录.html">会员登录</a></div>
    <div class="login_w clearfix">
        <div class="login">
            <div class="login_t">会员登录</div>
            <form action="login_handle" method="post">
                {% csrf_token %}
            <div class="login_con">
                <table class="login_tab" width="270" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td>用户名：</td>
                    <td><input type="text" name="user_name" value="" placeholder="" id="uname"></td>
                  </tr>
                  <tr>
                    <td>密&nbsp;&nbsp;&nbsp;&nbsp;码：</td>
                    <td><input type="password" name="pwd" value="" placeholder="" id="upwd"></td>
                  </tr>
                  <tr>
                    <td><label for="d1">记住密码</label></td>
                    <td><input id="d1" type="checkbox" name="remember" value="1" style="margin-top: 15px"></td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                    <td><input type="submit" value="登录" class="log_b"><a class="back_m" href="#">找回密码</a></td>
                  </tr>
                </table>
            </div>
            </form>
            <div class="login_b">
                <p>还不是梦想游会员？  <a class="free_zc" href="#">免费注册</a> </p>
                <p>使用合作网站帐号登录 </p>
                <p><a class="log_a01" href="#">新浪微博</a> <a class="log_a02" href="#">支付宝</a> <a class="log_a03" href="#">QQ帐号</a></p>
            </div>
        </div>
    </div>
</div>
<div class="friend_w clearfix">
    <div class="friend clearfix">
        <dl class="friend_dl bg01">
            <dt><b>网站使用流程</b></dt>
            <dd><a href="#">网站使用流程</a></dd>
            <dd><a href="#">网站预定流程</a></dd>
            <dd><a href="#">会员注册流程</a></dd>
            <dd><a href="#">网站支付流程</a></dd>
        </dl>
        <dl class="friend_dl bg02">
            <dt><b>会员中心</b></dt>
            <dd><a href="#">会员注册/登录</a></dd>
            <dd><a href="#">帮助中心</a></dd>
            <dd><a href="#">积分中心</a></dd>
            <dd><a href="#">支付中心</a></dd>
        </dl>
        <dl class="friend_dl bg03">
            <dt><b>公司简介</b></dt>
            <dd><a href="#">关于梦想游</a></dd>
            <dd><a href="#">加入梦想游</a></dd>
            <dd><a href="#">公司动态</a></dd>
            <dd><a href="#">网站地图</a></dd>
        </dl>
        <dl class="friend_dl bg04">
            <dt><b>合作伙伴</b></dt>
            <dd><a href="#">加盟合作</a></dd>
            <dd><a href="#">广告合作</a></dd>
            <dd><a href="#">运营合作</a></dd>
            <dd><a href="#">友情链接</a></dd>
        </dl>
        <dl class="friend_dl bg05">
            <dt><b>旅游查询</b></dt>
            <dd><a href="#">天气预报</a></dd>
            <dd><a href="#">火车查询</a></dd>
            <dd><a href="#">电子地图</a></dd>
            <dd><a href="#">航班时刻</a></dd>
        </dl>
    </div>
</div>
<div class="footer_w">
    <div class="footer clearfix">
        <div class="footer_c">
            <p>地址：中国浙江省杭州市西湖区教工路316号 &nbsp;| &nbsp;服务热线：0571-62332269 &nbsp; | &nbsp;传真：0571-62337233  备案号：0453-2xxxxxx</p>
            <p>Copyright © 2013 中国梦想旅游发展有限公司 All Rights Reserved. 技术支持：<a href="#">杭州风靡网络</a></p>
        </div>
        <div class="f_logo"><img src="/static/images/b_logo.jpg"></div>
    </div>
</div>
</body>
</html>
<script>
    var ca = document.cookie.split(';');
	for(var i=0; i<ca.length; i++) {
		var c = ca[i].trim();//去空格
		if (c.indexOf('uname')==0){
		    un=c.substring(8,c.length-1)
            if(c.indexOf('\\x')>0){
		        un=decodeURI(c.substring(9,c.length-2).replace(/\\\\x/g,'%'))
            }
            $('#uname').val(un);
        }

		if (c.indexOf('upwd')==0) $('#upwd').val(c.substring(5,c.length));
	}
    if(1==={{ error }}){
        alert('用户名或者密码错误，请重新登录')
    }

</script>
